@model FerryLineContractApp.DTO.RouteDTO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Route</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Depature)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Depature)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Destination)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Destination)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.RouteId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
