@model FerryLineContractApp.DTO.DockDTO

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FerryCapacity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.DockList) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DockName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FerryCapacity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DockId })
        </td>
    </tr>
}

</table>
